<!DOCTYPE html>
<html>
<head>
<title>Phaseout SEO Management</title>
<%= stylesheet_link_tag    'phaseout/application', media: 'all' %>
<%= javascript_include_tag 'phaseout/application' %>
<%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
